.register-page-container {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    padding: 35px 55px 35px;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -160px;
}

.register-page-container h1 {
    text-align: center;
    margin-bottom: 20px;
}
.register-page-container label {
    font-size: 16px;
    margin-bottom: 5px;
}

.register-page-container input {
    width: 100%;
    min-height: 38px;
    border: 1px solid #c8c8c8;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.register-page-container button {
    width: 300px;
    background-color: #1778dd;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}