<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BOOTSCORD</title>

    <!-- reference CSS file -->
    <link rel="stylesheet" th:href="@{css/register_page_style.css}" />
</head>
<body>
    <div class="register-page-container">
        <h1 class="title">Register</h1>
            <form th:action="@{/register/registerUser}"
                  th:object="${user}" method="POST">

                <label>Username</label>
                <input type="text" th:field="*{userName}" placeholder="Username"  required />

                <label>Display Name</label>
                <input type="text" th:field="*{displayName}" placeholder="Display Name"  required />

                <label>Email</label>
                <input type="text" th:field="*{email}" placeholder="Email" required />

                <label>Password</label>
                <input type="text" th:field="*{password}" placeholder="Password" required />
                <button type="submit" class="primary">Register</button>
            </form>

            <!-- Gives you option to go back to login page -->
            <hr>
            <a th:href="@{/}">Back to Login page</a>
    </div>
</body>
</html>